html, body, #voting, #login {
    background-color: #2E2E2E;
    height: 100%;
}
#login {
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
}
#infobox {
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}
.candidate {
    width: 20%;
    height: 100%;
    float: left;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border: black 1px solid;
}

h2 {
    width: 100%;
    padding: 10px;
    border-bottom: black 1px solid;
}

.hidden {
    display: none;
}
@keyframes fadeout {
    0%  {opacity: 1}
    100% {opacity: 0}
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 2s;
    animation-delay: 4s;
}
